<launch>
  <arg name="multi_robot_name" default=""/>
  <arg name="set_lidar_frame_id" default="base_scan"/>

  <include file="$(find room_seeker_core)/launch/rs_core.launch">
    <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
  </include>
  
  <include file="$(find room_seeker_core)/launch/rs_lidar.launch">
    <arg name="set_frame_id" value="$(arg set_lidar_frame_id)"/>
  </include>

  <!--
  <node pkg="room_seeker_core" type="room_seeker_diagnostics" name="room_seeker_diagnostics" output="screen"/>
  -->
</launch>

